:root {
    --roundness: 10px;
    --main-color: #00bcd4;
    --second-color: #67D861;
    --bg-color: #050505;
    --expansion: 95%;
    --max-expansion: 450px;
    --border-width: 1.5px;
    --default-padding: 10px;
}

/* Basic Containers */
body {
    /* Display & Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    /* Box Model */
    margin: 0 auto;
    padding: 20px;

    /* Size & Dimensions */
    max-width: var(--max-expansion);

    /* Typography & Color */
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: white;
}

.collumContainer {
    /* Display & Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Box Model */
    gap: 0px;
    width: 95%;

    /* Border & Overflow */
    border: 1.5px solid var(--main-color);
    border-radius: var(--roundness);
    overflow: hidden;
}

.rowContainer {
    /* Display & Layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    /* Box Model */
    gap: 10px;
    width: auto;
}

.spaceContainer {
    /* Display & Layout */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Box Model */
    gap: 10px;
    width: var(--expansion);
}

/* Controls */
.controlsContainer {
    /* Display & Layout */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Box Model */
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;

    /* Border & Overflow */
    border-bottom: 1.5px solid var(--main-color);
}
.controlsContainer:last-child {
    border-bottom: none;
}

/* Popups */
dialog.popupContainer {
    /* Box Model & Appearance */
    margin: auto;
    padding: 15px;
    gap: 15px;
    background-color: black;
    border: var(--border-width) solid var(--main-color);
    border-radius: var(--roundness);
    color: white;
    position: relative;
}
dialog.popupContainer::backdrop {
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
}

.popupContent { /* Added this class */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close-btn:hover {
    color: var(--main-color);
    cursor: pointer;
}

/* Dropdown */
.dropdown {
    width: 100%;
    padding: var(--default-padding) 30px var(--default-padding) var(--default-padding);
    font-size: 16px;
    border-radius: var(--roundness);
    background-color: black;
    color: white;
    border: var(--border-width) solid var(--main-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    background-image: url("assets/dropDownArrow.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    outline: none;
}
.dropdown:focus {
    border-style: dashed;
    box-shadow: 0 0 5px var(--main-color);
}

/* Inputs */
input[type="text"] {
    background-color: black;
    color: white;
    border: var(--border-width) solid var(--main-color);
    border-radius: var(--roundness);
    padding: 5px;
    outline: none;
}
input[type="text"]:focus {
    border-style: dashed;
    box-shadow: 0 0 5px var(--main-color);
}

input[type="number"] {
    background-color: black;
    color: white;
    border: var(--border-width) solid var(--main-color);
    border-radius: var(--roundness);
    padding: 5px;
    outline: none;
}
input[type="number"]:focus {
    border-style: dashed;
    box-shadow: 0 0 5px var(--main-color);
}

/* Buttons */
.styled-button {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 50px;
    background-color: black;
    color: white;
    border: 1.5px solid var(--main-color);
    border-radius: var(--roundness);
    padding: 10px 15px;
    margin: 2px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s ease-in-out; 
}
.styled-button.clicked {
    background-color: #00bcd4;
    transform: scale(0.9);
}
.styled-button img {
    display: block;
}

/* Loading Animation */
.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot {
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    margin: 0 2px;
    animation: oscillate 1.5s ease-in-out infinite;
}
.dot:nth-child(2) {
    animation-delay: 0.2s;
}
.dot:nth-child(3) {
    animation-delay: 0.4s;
}
.dot:nth-child(4) {
    animation-delay: 0.6s;
}
.dot:nth-child(5) {
    animation-delay: 0.8s;
}
@keyframes oscillate {
    0%, 100% {
        transform: translateY(-6px); /* Adjust top position */
    }
    50% {
        transform: translateY(6px); /* Adjust bottom position */
    }
}

/* Table */
.tableContainer {
    width: var(--expansion);
    margin: 0 auto;
    border: var(--border-width) solid var(--main-color);
    border-radius: var(--roundness);
    overflow: hidden;
    padding: 0;
    background-color: var(--bg-color);
}
.infoTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    color: white;
}
.infoTable td {
    padding: var(--default-padding);
    border: var(--border-width) solid var(--main-color);
}
.infoTable tr:first-child td {
    border-top: none;
}
.infoTable tr:last-child td {
    border-bottom: none;
}
.infoTable tr td:first-child {
    border-left: none;
}
.infoTable tr td:last-child {
    border-right: none;
}